<!DOCTYPE html>
<html lang="en">
<head>
    <title>Word</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
</head>
<body>
    <nav>
        <a href="/">Home</a> |
        <a href="/about">About</a> |
        <a href="/word">Word Definition</a>
    </nav>
    <h1>About Word Definition API</h1>
    <p>Word Definition API is a simple API provides word definitions for various words. It is taking definition programatically from online dicitonary</p>
    <p>URL format: http://127.0.0.1:5001/api/v1/definition/<word></p>
    <p>URL Example: http://127.0.0.1:5001/api/v1/definition/drama</p>
</body>
